concepts of Loops

While Loop

display numbers from 1 to 5

In [13]:
i=3
n=5
while i<=n:
    print(i)
    i=i+1

3
4
5

In [ ]:
enter a number and make multiplication table

In [15]:
x=int(input("eneter a number"))
i=1
while i<=10:
    print(x*i)
    i=i+1

eneter a number 5

5
10
15
20
25
30
35
40
45
50

In [17]:
i=0
while (i<5):
    i=i+1
    print("Good morning")

Good morning
Good morning
Good morning
Good morning
Good morning

Using else in the while Loop

In [21]:
i=0
while (i<5):
    i=i+1
    print("Good morning")
else:
    print("Bye")

Good morning
Good morning
Good morning
Good morning
Good morning
Bye

For Loop program

In [25]:
fruits = ["apple", "banana", "orange"]
for x in fruits:
    print(x)

apple
banana
orange

In [1]:
for x in "banana":
    print(x)

b
a
n
a
n
a

In [5]:
for x in range(2,5):
    print(x)

2
3
4

In [25]:
y = 1234.56
print(int(y))

1234

In [27]:
y = [("a"), ("b"), ("c")]
print(len(y))

3

In [29]:
p=25000
r=9.5
t=3
si = (p*r*t)/100
print(si)
print(int(si))

7125.0
7125

In [63]:
s = [23, 45, 67]
a = sum(s)
avgh  = a/b
print(avgh)

45.0

In [71]:
h1 = 3
b1 = 1000
h2 = 5
b2 = 2000
x = 500
cost1 = h1 * x
cost2 = h2 * x
threshold = 3000
u1thre = cost1 >= threshold
u2thre = cost2 >= threshold
print(f"u1 paying above threshold", u1thre)
print(f"u2 paying above threshold", u2thre)   
print(cost1)
print(cost2)
print(u1thre)
print(u2thre)

u1 paying above threshold False
u2 paying above threshold False
1500
2500
False
False

In [79]:
currtemp = 6
mintemp = 5
maxtemp = 20
within = currtemp> mintemp and currtemp <maxtemp
out = currtemp< mintemp or currtemp >maxtemp
print(within)
print(out)

True
False